/videos/turntable_frames/
/venv/
/videos/
/.idea/vcs.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/other.xml
/.idea/modules.xml
/.idea/misc.xml
/.idea/turn_table.iml
/.idea/.gitignore
